*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: BPG Calibri;
  src: url('./fonts/BPG\ calibri.ttf');
}

.App{
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  font-family: BPG Calibri;

}

.Popup{
  position: relative;
  width: 48.9%;
  height: 97.3%;
  background-color: #1C1D1E;
  margin: auto auto 0 auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.Tops{
  width: 100%;
  aspect-ratio: 94 / 35;
  position: relative;
}

.banner{
  position: absolute;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: auto;
  z-index: 0;

}

.topN{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding-top: 1.71%;

  aspect-ratio: 18793 / 1000;
}

.leftN{
  position: fixed;
  /* width: 13.7%; */
  width: 12.8%;
  height: 1.7vw;
  /* width: 26.7%; */
  /* margin-left: 2%; */
  /* height: 68.5%; */
  display: flex;
  justify-content: space-between;
  font-size: 0.7vw;
  background-color: #25292B;
  border-radius: 50px;
  color: white;
  left: 26.4%;
}


.Sl{
  width: fit-content;
  height: fit-content;
  margin: auto 0 auto 2%;
  padding: 1.6% 4% 1.6% 3%;
  border-radius: 50px;

  background-color: rgb(68, 73, 75);
}

.S2{
  margin: auto 5% auto 0;

}


.closeB{
  position: fixed;
  width: 1.7%;
  left: 72%;
  height: 1.7vw;
    /* width: 3.7%; */
  border-radius: 100%;
  outline: none;
  border: none;
  background-color: #25292B;
  /* margin-right: 2%; */
}


.Xmar{
  font-size: 0.9vw;
  color: white;
}

.bottomP{
  width: 100%;
  padding: 0 4.58%;
}
.midTxt{
  color: white;
  margin: 2% 0 0 0 ;
}

.bigP{
  font-size: 1.042vw;
  margin-bottom: 2%;
}

.sP{
  font-size: 0.833vw;
}

.bold{
  font-weight: bold;

}

.Tabs{
  margin-top: 3%;
  width: 100%;
  display: flex;
}

.bt{
  color: white;
  padding: 3.29% ;
  width: 100%;
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #2C3234;
  height: fit-content;
  margin: auto;

}

.L{
  border-bottom-left-radius:0.8vw;
  border-top-left-radius:0.8vw;
}
.R{
  border-bottom-right-radius:0.8vw;
  border-top-right-radius: 0.8vw;
}

.bt>span{
  font-size: 0.521vw;;
}

.bt>span>strong{
  font-size: 0.729vw;

}

.ActiveBt{
  background-color: #EF5A21;
  border-radius: 0.6vw;
  padding-bottom: 3.5%;
  padding-top: 3.5%;

}
.ActiveBt>span{
  font-size: 0.729vw;
}

.ActiveBt>span>strong{
  font-size:0.938vw;
}
.Popup{
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.Popup::-webkit-scrollbar {
  display: none;
}


.Tab1, .Tab2{
  margin-top: 3%;
  width: 100%;
}

.TopH{
  width: 100%;
  color: white;
  background-color: #2C3234;
  display: flex;
  justify-content: center;
  border-radius: 1vw 1vw 0 0;
  flex-direction: column;
}

.TopH > span{
  margin: auto;
  font-weight: bold;
  padding: 2.8%;
  font-size: 0.900vw;
}


.headl{
  margin: auto;
  width: 25%;
  height: 0.25vw;
  border-radius: 0 0 15vw 15vw;
  background-color:#EF5A21;
  box-shadow: 1px 2px 10px 1px #EF5A21;
-webkit-box-shadow: 1px 2px 10px 1px #EF5A21;
-moz-box-shadow: 1px 2px 10px 1px #EF5A21;
}

.bottomD{
  background-color: #171718;
  width: 100%;
  border-left: 0.26vw solid rgb(37, 41, 43);
  border-right: 0.26vw solid rgb(37, 41, 43);
  border-bottom: 0.26vw solid rgb(37, 41, 43);
  color: white;
  border-radius:0 0 1vw 1vw;


}

.T1S1{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.T1S1>img{
  width: 3%;
}

.lhead{
  font-weight: bold;
  font-size: 0.833vw;
  margin-right: 2%;
}
.mainseccont{
  width: 95%;
  margin: 0 auto 0 auto;
}

.sect1M{
  width: 100%;
  margin: 0 auto 0 auto;
  background-color: #25292B ;
  border-radius: 0.7vw;
  padding-left: 4%;
}

.sect1top{
  display: flex;
  padding: 4% 0 3% 1%;
  color: #7D7D7D;
  justify-content: space-between;
  width: 83%;
  font-size: 0.833vw;
  margin-right: auto;
}

.Sect1{
  width: 96%;
  display: flex;
  margin: 0.4% 0;
  justify-content: space-between;
  padding: 1%;
  background-color: #1E2122;
  border: 2px solid #2C3234;
  border-radius: 15vw;
  font-size: 0.729vw;
}

.def{
  margin: auto;
  font-size: 0.8vw;

  font-weight: bold;
}


.bigS{
  margin-left: 2%;
  margin-right: 4%;
  border-radius: 50%;
  background-color: #2C3234;
  padding: 1.4% 1.9%;
  box-shadow: 0px 0px 8px 0px rgba(44,50,52,0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(44,50,52,0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(44,50,52,0.75);
}

.cat{
  margin: auto 2% auto 0 ;
}


.sect1bot{
  overflow-y: scroll;
  height: 18vw;
  scrollbar-color: #F05A22 #2C3234;
  scrollbar-width: thin;
}

.Sect2{
  width: 100%;
background-color: #1E2122;
margin: 2% auto;
border-radius: 0.7vw;
display: flex;
padding: 2% 2% 2% 0;
font-size: 0.729vw;
}



.sect2M{
  width: 100%;
  margin: 3% auto 0 auto;
  padding: 0.3% 2%;
  background-color: #25292B ;
  border-radius: 0.7vw;
}

.orleft{
  height: 2vw;
  width: 0.5%;
  background-color: #EF5A21;
  border-radius: 0vw 15vw 15vw 0vw;
  box-shadow: 1px 2px 10px 1px #EF5A21;
  -webkit-box-shadow: 1px 2px 10px 1px #EF5A21;
  -moz-box-shadow: 1px 2px 10px 1px #EF5A21;
}

.orRight{
  margin: 0 0 0 2%;
  display: flex;
  width: 100%;
}

.orRight>img{
  width: 5%;
  margin: auto 0 auto 0 ;
  color: white;
}

.orSpan{
  margin: auto 0 auto 3% ;
  font-size: 0.8vw;
}


.foot{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2% 0;
}

.foot>span{
  margin: auto;
  font-size: 0.8vw;
}

.foot>span>a{
  color: #EF5A21;
}


.bottomTwo{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #2C3234;
  border-radius: 0.7vw;
  margin-top: 2%;
  margin-bottom: 8%;
  color: white;
}

.textTwo{
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2% ;

}
.TwoTxt{
  font-size: 0.95vw;
  text-align: center;
  padding-bottom: 1%;
}

.OneTxt{
  font-size: 0.8vw;
}

.HeadTL{
  font-size: 1vw;
  color: white;
  width: 100%;
  padding: 2% 0 2% 0  ;
  text-align: left;

}
.heatt{
  margin-bottom: 3%;
}


.Sect4{
  width: 100%;
  display: flex;
  padding: 2% 2%;
  margin: 1.3% 0;
  background-color: #25292B;
  justify-content: space-between;
  border-radius: 0.5vw;
}

.sect4txt{
  font-size: 0.8vw;

  color: white;
}



.arrw{
  font-size: 1.3vw;
  color: gray;
}


.infod{
  margin-bottom: 6%;
}

.Sect5{
  aspect-ratio: 233 / 272;
  width: 100%;
  position: relative;
  /* margin: 0 4%; */
}

.bnr{
  position: absolute;
  border-radius: 0.2vw;
  width: 100%;
  height: auto;
  z-index: 0;

}

.sectBtTxt{
  width: 100%;
  color: white;
  position: absolute;
  font-size: 0.8vw;
  top: 62%;
  padding: 9%;

  z-index: 2;
  display: flex;
  flex-direction: column;
}

.bigTS{
  font-weight: bold;
  margin-bottom: 2%;
}
.blurEf{
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: transparent;
  box-shadow: 0vw -7.8vw 4vw -2vw  inset;
  -webkit-box-shadow: 0vw -7.8vw 4vw -2vw  inset;
  -moz-box-shadow: 0vw -7.8vw 4vw -2vw  inset;
}


.bnrinf{
  width: 100%;
  display: block ruby;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 10%;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.bnrinf::-webkit-scrollbar {
  display: none;
}

.conBn{
  width: 25%;
  margin: 0 0.5%;
}



.fixedbT{
  z-index: 3;
  position: fixed;
  bottom: 0;
  padding: 1% 0;
  left: 25.55%;
  width: 48.9%;
  background-color: red;
  color: white;
  text-align: center;

 /* width: 49%; */
  /* padding: 1% 2%; */
/* display: flex; */
    /* position: absolute; */
    /* top: 95.7%; */
    background-color: #171718;
    border-top: 0.2vw solid #F05A22;
}

.btnLower{
  padding: 0.8% 4.4%;
  font-size: 0.833vw;
  background-color: #F05A22;
  color: white;
  border: none;
  border-radius: 0.2vw;
  margin: auto;
}

.signTop{
  display: none;
  width: 100%;
  background-color: #1C1D1E;
  justify-content: space-between;
  padding: 0% 2% 0.4% 2%;
}

.logo{
  width: 5vw;
  height: 5vw;
  background-color: #F05A22;
  border-radius: 50%;
  margin: auto 0;
}

.topbut{
  width: fit-content;
  display: flex;
  width: 39%;
}

.topbut >button{
  font-size: 3vw;
  padding: 6% 9%;
  margin: auto;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}

.orangB{
  background-color: #F05A22 !important;
  border-radius: 2vw;
}

@media only screen and (max-width: 800px) {
  .Popup{
    width: 100%;
    height: 100%;
    margin: 0;
    border-top-left-radius: 0;
border-top-right-radius: 0;

  }
  .topN{
    position: relative;
  }
  .topN>button{
    display: none;
  }
  .banner{
    position: relative;
    border-top-left-radius: 0;
border-top-right-radius: 0;
  }
  .leftN{
    position: relative;
    width: 52.8%;
    height: fit-content;
    font-size: 3vw;
    background-color: transparent;
    left: 0;
    margin-left: 4%;
  }

  .Sl{
    background-color: #25292B;
    padding: 1.6% 5% 1.6% 4%;
  }

  .S2{
    font-weight: normal;
  }
  .bigP{
    font-size: 4.042vw;
  }
  .sP{
    font-size: 2.99vw;
  }

  .ActiveBt{
    border-radius: 1.6vw;
    padding-bottom: 6.5%;
    padding-top: 5.5%;
  }

  .bt{
    padding: 5.29%;
  }
  .bt > span >strong{
    font-size: 2.4vw;
  }
  .bt > span{
    font-size: 1.9vw;
  }
  .ActiveBt > span> strong{
    font-size: 2.99vw;
  }

  .ActiveBt >span{
    font-size: 2.99vw;
  }
  .headl{
    height: 1.2vw;
    width: 31%;
  }

  .TopH{
    border-radius: 3vw 3vw 0vw 0;
  }

  .TopH > span{
    font-size: 3.9vw;
    padding: 4.8%;
  }
  .bottomD{
    border: none;
    background-color: #25292B;
  border-radius: 0 0 3vw 3vw;

  }

  .lhead{
    font-size: 3.4vw;
  }

  .T1S1 > img{
    width: 5%;
  }
  .Sect1{
    font-size: 2.729vw;
  }
  .sect1top{
    font-size: 2.833vw;
  }
  .bigS{
    padding: 1.4% 2.9%;
  }

  .def{
    font-size: 2.8vw;
  }

  .sect1bot{
    height: 41vw;
  }
  .orSpan{
    font-size: 2.8vw;
  }
  .orRight > img{
    width: 10%;
  }

  .orleft{
    height: 5vw;
    width: 1.4%;
  }

  .Sect2{
    background-color: #2C3234;
  }

  .orRight{
    margin: 0 0 0 4%;
  }
  .foot{
    padding: 2% 0 5% 0;
  }
  .foot > span{
    font-size: 2.8vw;
  }
  .TwoTxt{
    font-size: 3.95vw;
    padding-bottom: 3%;
  }

  .textTwo{
    width: 85%;
  }

  .OneTxt{
    font-size: 2.8vw;
  }

  .bottomTwo{
    border-radius: 3.7vw;
  }

  .HeadTL{
    font-size: 4vw;
  }

  .sect4txt{
    color: #BBBBBB;
    font-size: 2.8vw;
  }
  .arrw{
    font-size: 4.3vw;
  }

  .conBn{
    width: 36%;

  }

  .sectBtTxt{
    text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2.5vw;
  }

  .blurEf{
    box-shadow: 0vw -10.8vw 6vw 3vw inset;
-webkit-box-shadow: 0vw -10.8vw 6vw 3vw inset;
-moz-box-shadow: 0vw -10.8vw 6vw 3vw inset;
  }
  .fixedbT{
    width: 100%;
    left: 0;
    border-top: 0.7vw solid #F05A22;
    padding: 2% 0;
  }

  .btnLower{
    padding: 0.8% 7.4%;
font-size: 2.833vw;
border-radius: 1vw;
  }

  .bnrinf{
    padding-bottom: 40%;
  }

  .signTop{
    display: flex;

  }

}












.Tab2Sec1{
  display: flex;
  width: 100%;
}



.middleTextT{
  width: 50%;
  padding-bottom: 1.5%;
}

.Cardimg{
  width: 100%;
}

.imgcdiv{
  width: 25%;
  aspect-ratio: 110 / 71;
  margin: auto auto 0 auto;
}

.mTD{
  display: flex;
  flex-direction: column;

}

.textupmtd{
  font-size: 0.7vw;
  margin: 2% auto 2% auto;
}

.textdwnmtd{
  font-size: 0.67vw;
  margin: auto auto 5% auto;
  width: 70%;
  text-align: center;

}


.fixedbT{
  display: none;
}

.txtMTu{
  font-size: 0.75vw;
  font-weight: bold;
}


.timediv{
  margin: 5% auto 0 auto;
  width: 42%;
  display: flex;
  border: 0.12vw solid #F05A22;
  border-radius: 0.5vw;
  justify-content: space-evenly;
  box-shadow: 0px 0px 15px -4px rgba(240,90,34,0.75);
-webkit-box-shadow: 0px 0px 15px -4px rgba(240,90,34,0.75);
-moz-box-shadow: 0px 0px 15px -4px rgba(240,90,34,0.75);
}

.time{
  font-size: 0.74vw;
  margin: auto auto auto 0;
}

.clockdi{
  height: 100%;
  width: fit-content;
  padding: 2% 4% 2% 2%;
  background-color: #F05A22;
  border-radius: 0.3vw 40% 40% 0.3vw;
  margin: auto auto auto 0.01%;
}

.mTU{
  margin-top: 3%;
}

.mTD{
  color: #7D7D7D;
}

.mTD>div{
  width: 100%;
  display: flex;
justify-content: center;
}

.butdwnmtd{
  margin: auto;
  background-color: #F05A22;
border: none;
outline: none;
color: white;
padding: 1.5% 3%;
border-radius: 0.3vw;
font-size: 0.729vw;
font-weight: bold;
box-shadow: 0px 0px 15px -4px rgba(240,90,34,0.75);
-webkit-box-shadow: 0px 0px 15px -4px rgba(240,90,34,0.75);
-moz-box-shadow: 0px 0px 15px -4px rgba(240,90,34,0.75);
}

.upToh{
  margin-top: 5%;
}


.topBotDb{
  width: 100%;
  text-align: center;
  padding: 2%;
  font-size: 1vw;
}


.rond{
  margin-top: 5%;
  border: 0.26vw solid rgb(37, 41, 43);
  border-radius: 1vw 1vw 1vw 1vw;
}

.Tab2Sec2{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Tab2Sec2{
  width: 95%;
  display: flex;
  margin: auto;
}

.toprow{
  width: 100%;
  margin: auto auto 2% auto;
  display: flex;
  justify-content: space-between;
}

.botrow{
  width: 100%;
}

.littleadbn{
  position: relative;
  width: 48%;
  display: flex;
  aspect-ratio:  395 / 104;
}

.bigleadbn{
  position: relative;
  width: 100%;
  display: flex;
  aspect-ratio:  31 / 4;
}

.littleBck{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 0;
}

.infoadlittle, .infoadbig{
  position: relative;
  width: 100%;
  padding: 4% 7%;
  margin: auto;
  z-index: 0;
}

.infoadbig{
  padding: 2% 7%;
}

.HighR{
  font-weight: bold;
  font-size: 0.85vw;
}
.inflittleaddtop, .inflittleaddbot, .inbigeaddbot, .infbigaddtop{
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.infbigaddtop{
  width: 40%;
  margin: auto;
}

.inbigeaddbot{
  width: 42%;
  margin: 1% 0 auto 29.8%;
}

.inflittleaddbot{
  margin-top: 2%;
  width: 85%;
}

.baiini{
  font-weight: bold;
  font-size: 0.75vw;
  margin: auto 0;
}

.picot{
  font-weight: bold;
  font-size: 1.3vw;
  color: #FFBE00;
}


.aprilstl{
  font-size: 0.833vw;
  margin: auto 0;
  padding: 1.5% 7%;
  border-radius: 0.8vw 0.8vw 0 0.8vw;
}

.april{
  background-color: #B78648;
}

.august{
  background-color: #D7C860;
  color: #094B3D;
}

.BH{
  font-size: 1.2vw;
}

.scft{
  width: 72%;
  margin: auto;
}


.bordR{
  border-radius: 1vw;
  margin-bottom: 8%;
}

.bordR > span {
  padding: 2.8% 2.8% 0 2.8%;
  width: 74%;
text-align: center;
}

.non{
  padding: 1% 0 2% 0;
}

.botrow{
  background-image: url('./assets/main-bg.png');
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
  aspect-ratio: 31 / 4;

}

.sect2M{
  margin: 3% auto 2% auto;
}

@media only screen and (max-width: 800px) {
    .txtMTu{
      font-size: 3vw;
      font-weight: normal;
    }
    .mTU{
      text-align: center;
    }
    .middleTextT{
      width: 67%;
    }
    .timediv{
      width: 63%;
    }
    .time{
      font-size: 2.74vw;
    }
    .textupmtd{
      font-size: 1.6vw;
    }
    .textdwnmtd{
      font-size: 1.6vw;
    }
    .butdwnmtd{
      padding: 1.5% 8%;
      border-radius: 0.8vw;
      font-size: 2.8vw;
    }
    .topBotDb{
      text-align: left;
      font-size: 3.4vw;
    }
    .rond{
      background-color: #1C1D1E;
      border: none;
    }
    .toprow{
      flex-direction: column;
    }
    .littleadbn{
      width: 100%;
      margin: 1.3% auto;
    }
    .HighR{
      font-size: 3.85vw;
    }
    .baiini{
      font-size: 2.75vw;
    }
    .picot{
      font-size: 5.3vw;
    }
    .aprilstl{
      font-size: 2.9vw;
      border-radius: 2vw 2vw 0 2vw;
      padding: 1% 7%;
    }
    .botrow{
      background-image: url('./assets/main-bg-sm.png');
      aspect-ratio: 16 / 4;
    }
    .infbigaddtop{
      width: 81%;
      margin: 2% 0 auto 0;
    }
    .inbigeaddbot{
      margin: 0;
      width: 85%;
    }
    .scft{
      width: 100%;
    }
    .non{
      width: 75%;
      margin: 2% auto auto auto;
      text-align: center;
    }
    .bordR{
      border-radius: 4vw;
    }
}
.tb3TopF{
  width: 95%;
  display: flex;
  padding-top: 3%;
  flex-direction: column;
  margin: auto;
}


.finalinf{
  width: 100%;
  border-radius: 0.8vw;
}

.txtTb3top{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bgtx, .smTx{
  font-size: 0.8vw;
  text-align: center;
  font-weight: bold;
}

.smTx{
  width: 85%;
  margin: auto;
  margin-bottom: 2%;
}

.bgtx{
  margin: 2.5% 0 1%;
}

.secCon{
  margin: auto;
  width: 72%;
}

.thrdCon{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.Tab3Sec1{
  width: 31%;

}

.Sect2alt{
  padding: 4%;
  margin: 3% auto;
}

.Sect2alt > .orRight > img{
  width: 1.2vw;
}

.propsW{
  font-size: 0.7vw;
  font-weight: normal;
}

.Tab3Sec1{
  background-color: #25292B;
  border-radius: 1vw;
  height: 17.5vw;
  margin-bottom: 3%;
}

.Tab3C{
  padding: 0 2%;
}

.Tab3Sec1 > .TopH >span{
  font-size: 0.8vw;
  font-weight: normal;
  padding: 4.8%;
}

.Tab3Sec1 > .TopH >.headl{
  width: 43%;
  height: 0.20vw;
}
